body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 24px;
  font-weight: 100;
  color: gray;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  line-height: 22px;
  color: gray;
}
li:first-letter {
  text-transform: capitalize;
}
footer {
  margin-top: 15px;
  font-size: smaller;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

#date_and_time {
  float: left;
  position: absolute;
  font-size: 10px;
  margin-bottom: 5px;
}
#cloud {
  display: inline-block;
  font-size: 38px;
  margin-bottom: 10px;
}
#celsius {
  display: inline;
}
#unit {
  display: inline;
}
#celsiusButton {
  margin: 4px;
  border: none;
  opacity: 60%;
  font-size: 18px;
  position: relative;
  top: 10px;
}
#fahrenheitButton {
  margin: 4px;
  border: none;
  opacity: 60%;
  font-size: 18px;
  position: relative;
  top: 10px;
}
#descriptors {
  opacity: 75%;
  font-size: 2em;
  font-weight: lighter;
  position: absolute;
  right: 290px;
  top: 70px;
}
